@import "_responsive.scss";

header, header * {
  z-index: 10;
}

header {
  position: sticky;
  top: 0;

  .navbar {
    font-family: Futura, sans-serif;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: transparent; /* fallback for old browsers */
    text-decoration: none;
    height: 100vh;
    width: 200px;
    padding: 1vw;
    box-sizing: border-box;
    transition: background-color 1s;
    text-shadow: 1px 1px 2px var(--dark-bg-color);
    border-right: 1px solid var(--gray-200);

    &__title {
      width: auto;
      text-align: center;
      font-weight: bolder;
      font-style: italic;
      letter-spacing: -2px;
      text-decoration: none;
      font-size: 2em;
      word-break: break-word;
      color: var(--gray-100);
    }

    &__menu {
      justify-content: space-evenly;
      flex-direction: column;
      list-style: none;
      margin-block-start: 0;
      margin-block-end: 0;
      height: 30vh;
      padding: 6px;

      &__item {
        cursor: pointer;
        height: 100%;

        a {
          height: 100%;
          width: 100%;
          color: var(--gray-100);
          text-decoration: none;
          font-size: 1.2em;
          letter-spacing: 2px;

          &.active {
            color: var(--main-color);
          }
        }



        &:hover a {
          color: var(--sub-color);
          transition: color 0.2s;
        }

      }
    }

    &__misc {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding-left: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      margin: 0;

      &__item {
        padding: 1em;
        cursor: pointer;
        height: 18px;

        button {
          border: none;
          background: none;
          color: var(--gray-100);
          font-family: Futura, sans-serif;
          cursor: pointer;
          margin: 0 0.6em;
        }

        a {
          color: var(--gray-100);
          height: 100%;
          width: 100%;
          text-decoration: none;
          font-size: 16px;
          font-weight: normal;
        }

      }
    }

    &__toggle {
      display: none;
      position: absolute;
      right: 20px;
      top: 10px;

      #navbar__toggle__checkbox {
        opacity: 0;

        &:checked + .navbar__toggle__label > span {
          transform: rotate(45deg);
        }

        &:checked + .navbar__toggle__label > span::before {
          top: 0;
          transform: rotate(0deg);
        }

        &:checked + .navbar__toggle__label > span::after {
          top: 0;
          transform: rotate(90deg);
        }
      }

      .navbar__toggle__label {
        position: fixed;
        top: 20px;
        right: 10px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;

        & > span,
        & > span::before,
        & > span::after {
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: var(--gray-200);
          transition-duration: .25s;
        }

        & > span::before {
          content: '';
          top: -8px;
        }

        & > span::after {
          content: '';
          top: 8px;
        }

      }

    }
  }

  .navbar--dark {
    background: var(--dark-bg-color);
    height: 100vh;

    .navbar__title {
      background: -webkit-linear-gradient(225deg, rgb(108, 45, 134) 0%, rgb(61, 105, 164) 35%, rgb(255, 255, 255) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: none;
    }
  }

}

@include media(tablet, mobile) {
  header {
    .navbar {
      width: 120px;


      &__title {
        font-size: 1.4em;
      }

      &__menu {
        &__item {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }

}

@include mobile {
  header {
    .navbar {
      $c: &;
      width: 100vw;
      border-right: none;
      flex-direction: column;
      align-items: flex-start;
      height: max-content;
      padding: 0;

      &__title {
        padding-left: 0.1em;
      }

      &__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: max-content;
        padding-left: 0;
        padding-bottom: 20px;

        &.active {
          display: flex;
        }

        &__item {
          width: 100%;
          text-align: center;

          a {
            height: 3em;
            padding-left: 0;
          }
        }
      }

      &__misc {
        display: none;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-bottom: 20px;

        &.active {
          display: flex;
        }

        &__item {
          height: 100%;
          padding: 1em;

          a {
            height: 3em;
          }
        }
      }

      &__toggle {
        display: flex;

      }

    }
    .navbar--mobile {
      height: 100vh;
    }

  }

}