@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import "_responsive";


:root {
  --main-color: #ffa45e;
  --sub-color: #4a3a7a;
  --highlight-color: #ec4176;
  --blue-color: #12b8ff;
  --gray-100: #eae9e8;
  --gray-200: #b3b3b3;
  --gray-300: #1f1f1f;
  --dark-bg-color: rgb(20, 20, 20);
  --dark-font-color: rgb(229, 229, 299);
}

body {
  margin: 0;
  font-family: Futura, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-bg-color);
  color: var(--dark-font-color);
}

h1, h2, h3, h4, h5, h6, a {
  letter-spacing: -1px;
  text-decoration: none;
}


h1 {
  letter-spacing: 8px;
  font-style: italic;
}


.container {
  margin: 0 0 0 200px;
  width: calc(100vw - 200px - 6rem);
  min-height: calc(100vh - 18rem);
  display: flex;
  align-items: center;
  padding: 9rem 3rem;
  overflow-x: hidden;

  .name-card {
    position: absolute;
    top: 80px;
    right: 40px;

    p {
      text-align: right;
    }
  }

  h1 {
    font-size: 3em;
    word-break: break-word;
    color: var(--main-color);
  }

  &__half {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 2em;

    p {
      margin-right: 3em;
    }
  }

  &__whole {
    width: 100%;
    margin-bottom: 2em;
  }
}


$total-lines: 6;
$left-offset: 29px;
$clip-height: 6vw;
$line-height: calc(#{$clip-height} - 5px);

.word-step {
  margin: 0;
  padding-inline-start: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: $clip-height;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  // Sort out nasty text fuzz
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;

  &:hover {
    p {
      transform: translate3d(0, -($clip-height), 0);
    }
  }

  &__line {
    height: $clip-height;
    overflow: hidden;
    position: relative;

    // Change the perspective of each alternating line
    &:nth-child(odd) {
      transform: skew(60deg, -30deg) scaleY(.66667);
    }

    &:nth-child(even) {
      transform: skew(0deg, -30deg) scaleY(1.33333);
    }

    // Loop over the total lines and apply a left offset
    @for $i from 1 through $total-lines+1 {
      &:nth-child(#{$i}) {
        left: $left-offset * $i;
      }
    }

    p {
      margin: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      height: $clip-height;
      line-height: $line-height;
      padding: 0 10px;
      transition: all .4s ease-in-out;
      transform: translate3d(0, 0, 0);
      vertical-align: top;
      white-space: nowrap;
    }

  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 1em;
  width: 500px;

  label {
    margin-right: 1em;
    width: max-content;
  }

  input, textarea {
    background-color: var(--dark-bg-color);
    border: 1px solid var(--sub-color);
    color: white;
    padding: 1em;

    &:focus {
      outline: none;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0 1000px var(--dark-bg-color) inset !important;
    -webkit-text-fill-color: var(--dark-font-color) !important;
  }

  textarea {
    resize: none;
  }

  &__error {
    grid-column: 2/3;
    text-align: right;
    height: 21.5px;
  }

  button {
    grid-column: 1/3;
    justify-self: center;
  }


}

@include media(tablet, mobile) {
  .container {
    margin-left: 120px;
    width: calc(100vw - 120px - 6rem);
    justify-content: center;
    flex-direction: column;

    &__half {
      width: calc(100% - 20px);
      margin: 0;
    }
  }

  .form {
    width: 100%;
    grid-row-gap: 0.5em;

    label {
      align-self: center;
    }
  }
}


@include mobile {
  .word-step {
    margin-top:10em;
  }

  .container {
    margin-left: 0;
    width: calc(100vw - 2em);
    height: calc(100% - 6em);
    padding: 3rem 1rem;

    h1 {
      font-size: 2em;
    }

    &__half {
      margin-left: 0;

      p {
        margin-right: 0;
      }
    }
  }

  .word-step {
    padding: 0;
  }
}


.flex__start,
.flex__end,
.flex__between,
.flex__around,
.flex__evenly,
.flex__center,
.flex__column {
  display: flex;
  align-items: center;
}

.flex__start {
  justify-content: flex-start;
}

.flex__end {
  justify-content: flex-end;
}

.flex__between {
  justify-content: space-between;
}

.flex__around {
  justify-content: space-around;
}

.flex__evenly {
  justify-content: space-evenly;
}

.flex__center {
  justify-content: center;
}

.flex__row {
  flex-direction: row;
}

.flex__column {
  flex-direction: column;
}

.flex__wrap {
  flex-wrap: wrap;
}

.w--25 {
  width: 25%;
}

.w--50 {
  width: 50%;
}

.w--75 {
  width: 75%;
}

.w--100 {
  width: 100%;
}

.button {
  display: flex;
  padding: 10px 30px;
  font-family: Futura, sans-serif;
  letter-spacing: 6px;
  width: max-content;
  height: 40px;
  background: transparent;
  cursor: pointer;
}

.button--main {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.button--sub {
  color: var(--sub-color);
  border: 1px solid var(--sub-color);
}