@import "_responsive";

.box {
  max-width: 800px;
  width: calc(100% - 2em);
  background-color: var(--gray-300);
  padding: 2em;
  margin-bottom: 1em;

  &__title {
    text-align: center;
    background-color: var(--sub-color);
    padding: 0.3em 0;
  }

  &__content {
    &__summary {
      width: 25%;
    }
    &__detail {
      width: 75%;
    }

  }
}

.certs {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;

  p {
    text-align: center;
  }
}

.chart {
  width: 100%;

  & div:nth-child(4n) footer div {
    background-color: var(--sub-color);
  }

  & div:nth-child(4n-3) footer div {
    background-color: var(--highlight-color);
  }

  & div:nth-child(4n-2) footer div {
    background-color: var(--main-color);
  }

  & div:nth-child(4n-1) footer div {
    background-color: var(--blue-color);
  }

  &__group {

    &__skills {
      width: 100%;

      span {
        background-color: var(--gray-200);
        padding: 0.2em 0.4em;
        border-radius: 10px;
        margin-right: 0.8em;
        margin-bottom: 1em;
        font-size: 0.8em;
      }
    }

    footer {
      width: 100%;
      height: 4px;
      background-color: var(--gray-200);
      margin-top: 6px;
      margin-bottom: 20px;

      div {
        height: 4px;
        transition: width 1s;
      }
    }

    hr {
      width: 70%;
      border: 0;
      margin: 1em auto;
      border-top: 1px dotted var(--gray-300)
    }


  }
}

@include media(tablet, mobile) {
  .box {
    width: calc(100% - 3em);
    padding: 1em;

    &__content {
      flex-direction: column;
      &__summary, &__detail{
        width: 90%;
      }
      &__summary {
        text-align: center;
      }

      &__detail {
        ul {
          margin-block-start: 0;
          //padding-left: 0;
        }
      }
    }
  }

}

@include mobile {
  .certs {
    grid-template-columns: 1fr;

    p {
      margin-block-start: 0;
      &:nth-child(4n-1):after {
        content:"";
        display:flex;
        margin: 1em 0;
        transform: translateX(calc(13%));
        background-color: var(--main-color);
        height: 1px;
        width: 80%;
      }
    }
  }
}